* {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background-color: blanchedalmond;
    text-align: center;
}

.aside {
    float: left;
    width: 20%;
}

.aside img {
    width: 100%;
}

.main {
    float: right;
    width: 80%;
} 

.nav {
    text-align: left;
    margin-left: 10%;
}

section {
    background-color: salmon;
    margin-left: 10%;
    padding: 10px;
    height: 250px;
}

.first {
    display: block;
}

.second,
.third {
    display: none;
}

button {
    width: 26%;
    color: white;
    border: none;
    font-size: 200%;

}

.left {
    background-color: salmon;
}

.center,
.right {
    background-color: crimson;
}

.wzory {
    width: 70px;
    margin: 5px;
    border-radius: 100%;
}

footer {
    clear: both;
}

